.form{
    width: 500px;
    margin: auto;
}
.saveBtn{
    text-align: center;
}
.infoBtn {
    background: orange;
    border: orange;
    color: #fff;
}

.infoBtn1 {
    background: green;
    border: green;
    color: #fff;
}
.infoBtn:hover,.infoBtn:focus{
    background: orange;
    color: #fff;
}
.infoBtn1:hover,.infoBtn1:focus{
    background: green;
    color: #fff;
}
.toolbar{
    margin-bottom: 20px;
    width: 100%;
}
