.form{
    width: 500px;
    margin: auto;
}
.saveBtn{
    text-align: center;
}
.infoBtn {
    background: orange;
    border: orange;
}

.infoBtn1 {
    background: green;
    border: green;
}
.toolbar{
    margin-bottom: 20px;
    width: 100%;
}
