.toolbar{
    margin-bottom: 20px;
    width: 100%;
}
.infoBtn{
    background:orange;
    border: orange;
}
.infoBtn1{
    background:green;
    border: green;
}
/*审核弹窗*/
.formBtn{
    text-align: center;
}
.showModal{
    text-align: center;
}
.showText{
    margin: 10px 0 30px;
}
