.layout{
    position: absolute;
    width: 100%;
    height: 100%;
}
/*header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*color: #fff;*/
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .117647), 0 1px 4px rgba(0, 0, 0, .117647);
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userImg{
    cursor: pointer;

}
/*sider*/
.sider{
    color: #fff;
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0
}
.sitLayout{
    margin-left: 180px;
}
.logo{
    height: 64px;
    line-height: 64px;
    text-align: center;
}
.siderMenu{
    /*background: #282c34;*/
}
.tagsWrap{
    display: flex;
}
.content{
    min-height: 280px;
    margin-top: 30px;
    padding:20px ;
}
